@keyframes ldio-qxm597r0ix {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.34, 1.34);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-qxm597r0ix div > div {
  position: absolute;
  width: 12.4px;
  height: 12.4px;
  border-radius: 50%;
  background: #000000;
  animation: ldio-qxm597r0ix 1.2048192771084336s linear infinite;
}
.ldio-qxm597r0ix div:nth-child(1) > div {
  left: 97px;
  top: 56px;
  animation-delay: -1.118760757314974s;
}
.ldio-qxm597r0ix > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 103.2px 62.2px;
}
.ldio-qxm597r0ix div:nth-child(2) > div {
  left: 93px;
  top: 74px;
  animation-delay: -1.0327022375215145s;
}
.ldio-qxm597r0ix > div:nth-child(2) {
  transform: rotate(25.714285714285715deg);
  transform-origin: 99.2px 80.2px;
}
.ldio-qxm597r0ix div:nth-child(3) > div {
  left: 81px;
  top: 88px;
  animation-delay: -0.946643717728055s;
}
.ldio-qxm597r0ix > div:nth-child(3) {
  transform: rotate(51.42857142857143deg);
  transform-origin: 87.2px 94.2px;
}
.ldio-qxm597r0ix div:nth-child(4) > div {
  left: 65px;
  top: 96px;
  animation-delay: -0.8605851979345954s;
}
.ldio-qxm597r0ix > div:nth-child(4) {
  transform: rotate(77.14285714285714deg);
  transform-origin: 71.2px 102.2px;
}
.ldio-qxm597r0ix div:nth-child(5) > div {
  left: 47px;
  top: 96px;
  animation-delay: -0.774526678141136s;
}
.ldio-qxm597r0ix > div:nth-child(5) {
  transform: rotate(102.85714285714286deg);
  transform-origin: 53.2px 102.2px;
}
.ldio-qxm597r0ix div:nth-child(6) > div {
  left: 30px;
  top: 88px;
  animation-delay: -0.6884681583476764s;
}
.ldio-qxm597r0ix > div:nth-child(6) {
  transform: rotate(128.57142857142858deg);
  transform-origin: 36.2px 94.2px;
}
.ldio-qxm597r0ix div:nth-child(7) > div {
  left: 19px;
  top: 74px;
  animation-delay: -0.6024096385542168s;
}
.ldio-qxm597r0ix > div:nth-child(7) {
  transform: rotate(154.28571428571428deg);
  transform-origin: 25.200000000000003px 80.2px;
}
.ldio-qxm597r0ix div:nth-child(8) > div {
  left: 15px;
  top: 56px;
  animation-delay: -0.5163511187607572s;
}
.ldio-qxm597r0ix > div:nth-child(8) {
  transform: rotate(180deg);
  transform-origin: 21.200000000000003px 62.2px;
}
.ldio-qxm597r0ix div:nth-child(9) > div {
  left: 19px;
  top: 38px;
  animation-delay: -0.4302925989672977s;
}
.ldio-qxm597r0ix > div:nth-child(9) {
  transform: rotate(205.71428571428572deg);
  transform-origin: 25.200000000000003px 44.2px;
}
.ldio-qxm597r0ix div:nth-child(10) > div {
  left: 30px;
  top: 24px;
  animation-delay: -0.3442340791738382s;
}
.ldio-qxm597r0ix > div:nth-child(10) {
  transform: rotate(231.42857142857142deg);
  transform-origin: 36.2px 30.200000000000003px;
}
.ldio-qxm597r0ix div:nth-child(11) > div {
  left: 47px;
  top: 16px;
  animation-delay: -0.2581755593803786s;
}
.ldio-qxm597r0ix > div:nth-child(11) {
  transform: rotate(257.14285714285717deg);
  transform-origin: 53.2px 22.200000000000003px;
}
.ldio-qxm597r0ix div:nth-child(12) > div {
  left: 65px;
  top: 16px;
  animation-delay: -0.1721170395869191s;
}
.ldio-qxm597r0ix > div:nth-child(12) {
  transform: rotate(282.85714285714283deg);
  transform-origin: 71.2px 22.200000000000003px;
}
.ldio-qxm597r0ix div:nth-child(13) > div {
  left: 81px;
  top: 24px;
  animation-delay: -0.08605851979345955s;
}
.ldio-qxm597r0ix > div:nth-child(13) {
  transform: rotate(308.57142857142856deg);
  transform-origin: 87.2px 30.200000000000003px;
}
.ldio-qxm597r0ix div:nth-child(14) > div {
  left: 93px;
  top: 38px;
  animation-delay: 0s;
}
.ldio-qxm597r0ix > div:nth-child(14) {
  transform: rotate(334.2857142857143deg);
  transform-origin: 99.2px 44.2px;
}
.loadingio-spinner-spin-pe4aoop2d {
  width: 124px;
  height: 124px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-qxm597r0ix {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-qxm597r0ix div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
.center {
  margin: 0 auto;
}
